cbitstruct
https://s3.amazonaws.com/resources.neuropype.io/wheels/PyBluez-0.22-cp37-cp37m-win_amd64.whl ; platform_system == "Windows"
pylsl==1.13.1
pyqt5
numpy
pandas
pyqtgraph
matplotlib
pywinusb
notebook
scipy
pyxdf
sklearn
# or scikit-learn depending on your Python version
tensorflow
mne